<a
  {...Astro.props}
  class="bg-red-100 text-red-800 text-xs font-medium px-5 py-2 rounded-full dark:bg-red-900 dark:text-red-300 hover:scale-110 transition"
  target="_blank"
  rel="noopener noreferrer"
>
  <slot />
</a>
