---
import TitlesItem from "./TitlesItem.astro";

const TITLES = [
  {
    title: "C2.1 English Course",
    date: "May 5th, 2023",
    description:
      "A course done in the University of La Coruña to improve my English skills.",
  },
  {
    title: "Cambridge B2 First",
    date: "July 7th, 2021",
    description:
      "The Cambridge B2 First exam is the logical step in your language learning journey between B1 Preliminary and C1 Advanced.",
  },
  {
    title: "Cambridge B1 Preliminary",
    date: "March 14th, 2020",
    description:
      "The Cambridge B1 Preliminary exam is the logical step in your language learning journey between A2 Key and B2 First.",
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-4">
  {
    TITLES.map((title) => (
      <li class="mb-12 ms-8">
        <TitlesItem {...title} />
      </li>
    ))
  }
</ol>
